@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: #f6f5f7;
}

.heading {
    font-weight: bold;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.monitoring-options{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.monitoring-options button{
    border-radius: 15px;
    border: 1px solid #008ecf;
    background: #008ecf;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top: 40px;
}